.head {
  display: flex;
  justify-content: center;
  min-height: 20%; 
}

.head-item {
  max-width: 30%;
}

.title-container {

}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.table-container {
  margin-top: 50px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

.last {
  margin-top: 20px;
  border-top: 1px solid black;
}

th {
  text-align: start;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}
